* {
    padding: 0;
    margin: 0;
}
body {
    color: white;
}
#ProfileBanner {
    background-color: #1F1F1F;
    padding-top: 2em;
    border-bottom: 1px solid white;
}
#SideContent {
    padding-right: 5rem;
}
.Message-button {
    background-color: green;
    padding: 10px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Friend-button {
    background-color: green;
    padding: 10px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Report-button {
    background-color: red;
    padding: 5px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@media only screen and (min-width: 1200px) {
    .Report-button {
       position: absolute;
       right: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .Friend-button {
      position: absolute;
      top: 0.5; 
      margin-left: 15em;
    }
}
.profileName {
    padding: .5em;
}
#profileBio {
    background-color: black;
}
#SecondSection {
    background-color: #1F1F1F;
}
#homeTabContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 200px;
  }
.gameCard {
    height: auto;
    width: auto;
}
  
.hover {
    opacity: 50%;
}