* {
    margin: 0;
    padding: 0;
  }
  .homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  }
  .homepage-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #homepage-button {
    background: rgba(
      255,
      255,
      255,
      0
    ); /* Set the alpha channel to 0 for full transparency */
    border: 2px solid teal;
    border-radius: 4px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  
  .right-arrow {
    float: right;
    margin: 0 0.5em;
  }
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0.4s;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: block;
    width: 100vw;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
    margin-left: auto;
    font-size: large;
  }
  #navItems:hover {
    color: red;
    text-decoration: underline;
  }
  #navItems:active {
    color: red;
  }
  .profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #navbar {
    background-color: rgba(255,255,255,0);
    position: absolute;
    top: 1;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
  }
  /* styling for the Navbar Items */
  #navbarTitle {
    color: white;
    font-size: 35px;
  }
  #navItems {
    margin-right: 0.5rem;
    color: white;
  }
  #collapsible-nav-dropdown {
    color: white;
  }
  #dropDownItems {
    color: black;
  }
  #redDropDownItems {
    color: red;
  }
  #register-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  #register-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 8px 34px;
    background-color: rgba(255,255,255,0);
  }
  #register-span {
    float: left;
    order: 1;
    margin-right: 30px;
    z-index: 1;
  }
  #register-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%; 
    background-color: red; 
    z-index: -1;
  }