* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  margin: 5rem;
}
#Form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#Form.visible {
  opacity: 1;
}
.FormDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  width: 600px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 6px;
}
legend {
  font-size: 2rem;
  padding: 0;
  color: white;
  float: none;
  width: auto;
}
button {
  margin-top: 2rem;
}
.progress-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  margin-bottom: 5rem;
}
#progressbar {
  width: 500px;
}
label {
  color: white;
}