* {
  padding: 0;
  margin: 0;
}
body {
  color: white;
  overflow-x: hidden;
  width: 100%;
}

#ProfileBanner {
  background-color: black;
  border-bottom: 1px solid white;
}
#SideContent {
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
.Message-button {
  background-color: green;
  padding: 10px 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Friend-button {
  background-color: green;
  padding: 10px 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Report-button {
  background-color: red;
  padding: 5px 10px;
  margin-right: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media only screen and (min-width: 1200px) {
  .Report-button {
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .Friend-button {
    position: absolute;
    top: 0.5;
    margin-left: 15em;
  }
}
.profileName {
  color: white;
  margin-bottom: 1em;

}
#profileBio {
  background-color: black;
  color: white;
}
#SecondSection {
  background-color: #1f1f1f;
}
#homeTabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#ProfileStatistics {
  margin: 3rem;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 2rem;
}
.gameCard {
  height: auto;
  width: auto;
}

#friendsSection {
  background-color: #1f1f1f;
}
.friend-container {
  display: flex;
  flex-wrap: wrap;
}

.friend-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust width as needed */
  background-color: rgb(255, 255, 255);
}
