body, html {
    background-color: white;
    margin: 0;
    padding: 0;
}
* {
    font-family: sans-serif;
}
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px black;
    border-radius: 6px;
    min-width: 200px;
}

legend {
    font-size: 1.25em;
    padding: 0.25em;
    color: black;
}

label {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

label:first-of-type {
    margin-top: 0;
}

textarea {
    min-height: 8rem;
    min-width: 100%;
    padding: .5rem;
    border: solid 1px; color: black;
}
button {
    background-color: rgb(38, 245, 34);
    color: white;
    text-align: center;
    padding: 10px 24px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 50px;
    margin: 20px;
}

input {
    height: 2.5rem;
    background-color: rgb(28, 28, 28);
}

p {
    color: red;
}