body {
    background-color: #1f1f1f;
    margin: 5rem;
    padding: 0;
    color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #Form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
  }
  
  .FormDiv {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 0;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
    border: solid 1px white;
    border-radius: 6px;
  }
  
  legend {
    font-size: 2rem;
    padding: 0;
    color: white;
    float: none;
    width: auto;
  }
  label {
    padding: 1.5rem;
    display: inline-block;
  }
  textarea, input {
    height: 2.5rem;
    background-color: rgb(28, 28, 28);
    width: 100%;
}
  
  p {
    color: red;
  }
  
  button {
    margin-top: 2rem;
    background-color: darkblue; /* Add this line to match the button styling on the second page */
  }
  